<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245940513411-us2ntmde5ih349f0jgb76r36ti5kg6a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245940513411-us2ntmde5ih349f0jgb76r36ti5kg6a2</string>
	<key>API_KEY</key>
	<string>AIzaSyCatQNC_MmYKMAm-zMmDyYiyTpmbPSTqdw</string>
	<key>GCM_SENDER_ID</key>
	<string>245940513411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.together</string>
	<key>PROJECT_ID</key>
	<string>together-d1575</string>
	<key>STORAGE_BUCKET</key>
	<string>together-d1575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245940513411:ios:ce8525a8bed12e1f8409b6</string>
</dict>
</plist>